<h1>Demo#hello</h1>
<p>Hello world!</p>

<%= 1+1 %>
<br />

<% target = "world" %>
<%= "Hello #{target}" %>

<% @array.each do |n| %>
	<%= n %><br />
<% end %>

<a href="/demo/index">Index page 1</a><br />
<%= link_to('Index page 2', {:action => 'index'}) %>

<br />
ID: <%= params[:id] %><br />
ID: <%= @id %><br />
PAGE: <%= params[:page] %><br />
NEXT PAGE: <%= @page + 1 %><br />

<hr />
<%= params.inspect %>

get 'access/index'

  get 'access/login'

  get 'sections/index'

  get 'sections/show'

  get 'sections/new'

  get 'sections/edit'

  get 'sections/delete'

  get 'pages/index'

  get 'pages/show'

  get 'pages/new'

  get 'pages/edit'

  get 'pages/delete'

  get 'subjects/index'

  get 'subjects/show'

  get 'subjects/new'

  get 'subjects/edit'

  get 'subjects/delete'